<%
var pageByCategory = {},
    pageByCategoryOrdered = {};

site.pages.each(function(page) {

    if(!page.category || page.tags !== 'api') return;

    if(!pageByCategory[page.category]) {
        pageByCategory[page.category] = [];
    }

    pageByCategory[page.category].push(page);
});

Object.keys(pageByCategory).sort().forEach(function(key) {
    pageByCategoryOrdered[key] = pageByCategory[key];
});

var currentPage = page.name;
%>

<section class="api">
    <button class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <nav class="apinav">
    <%
    var i = 0;
    _.each(pageByCategoryOrdered, function(pages, category) {

        ++i;

        // order commands
        function orderCommandName(a, b) {
            return a.name < b.name ? -1 : 1;
        }
        pages.sort(orderCommandName);

        %>
        <h3><a href="#" class="icon-folder-close-alt<% if (page.category === category || (i === 1 && currentPage === 'api')) { %> active<% } %>" data-open="<%- category %>"><%- category %></a></h3>
        <div class="commands <%- category %><% if (page.category === category || (i === 1 && currentPage === 'api')) { %> active<% } %>">
        <% _.each(pages, function(page){ %><a href="/api/<%- category %>/<%- page.name %>.html"<% if (currentPage === page.name) { %> class="active"<% } %>><%- page.name %></a><% }) %>
        </div>
    <% }) %>
    </nav>

    <article class="doc">
        <%
        if(page.name) {
            var dir = page.category === 'protocol' ? 'protocol' : 'commands';
            var sourcePath = 'https://github.com/camme/webdriverjs/blob/master/lib/' + dir + '/' + page.name + '.js';
        %>

        <% if (currentPage !== 'api') { %>

            <%
            sourcePath = 'https://github.com/webdriverio/webdriver.io/edit/master/source/api.md';
            %>

            <a href="<%- sourcePath %>" target="_blank" class="btn icon-search source">View Source</a>
        <% } %>

        <a href="https://github.com/camme/webdriverjs/edit/master/lib/<%- dir %>/<%- page.name %>.js" target="_blank" class="btn icon-edit improve">Improve this doc</a>
        <% } %>
        <%- page.content %>
    </article>

</section>
