<%
var pageByCategory = {},
    pageByCategoryOrdered = {};

site.pages.each(function(page) {

    if(!page.category || page.tags !== 'guide') return;

    if(!pageByCategory[page.category]) {
        pageByCategory[page.category] = [];
    }

    pageByCategory[page.category].push(page);
});

Object.keys(pageByCategory).sort().forEach(function(key) {
    pageByCategoryOrdered[key] = pageByCategory[key];
});

var currentPage = page.name;
%>

<section class="inner">
    <button class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <nav class="apinav guide">
    <%
    var i = 0;
    _.each(pageByCategoryOrdered, function(pages, category) {

        ++i;

        // order commands
        function orderCommandName(a, b) {
            return a.index < b.index ? -1 : 1;
        }
        pages.sort(orderCommandName);

        // sanitize categories
        var categories = {
            getstarted: 'Get Started',
            usage: 'Usage'
        };

        var pageNames = {
            v3: 'What is new?',
            bindingscommands: 'Bindings & Commands',
            customcommands: 'Custom Commands',
            pageobjects: 'Page Objects',
            transferpromises: 'Transfer Promises',
            configurationfile: 'Configuration File',
            gettingstarted: 'Getting Started',
            jenkins: 'Jenkins Integration'
        }

        var categoryName = categories[category] || category;

        %>
        <h3><a href="#" class="icon-folder-close-alt<% if (page.category === category || (i === 1 && currentPage === 'guide')) { %> active<% } %>" data-open="<%- category %>"><%- categoryName %></a></h3>
        <div class="commands <%- category %><% if (page.category === category || (i === 1 && currentPage === 'guide')) { %> active<% } %>">
        <% _.each(pages, function(page){ %><a href="/guide/<%- category %>/<%- page.name %>.html"<% if (currentPage === page.name) { %> class="active"<% } %>><%- pageNames[page.name] || page.name %></a><% }) %>
        </div>
    <% }) %>
        <h3><a href="https://github.com/webdriverio/webdriverio/tree/master/examples" class="icon-folder-close-alt" target="_blank">Examples</a></h3>
    </nav>

    <article class="doc">
        <% if(page.name) {

            var file = page.name;

            if(page.category) {
                file = page.category + '/' + file;
            }

            if(file !== 'guide') {
                file = 'guide/' + file;
            }
            %>

            <a href="https://github.com/webdriverio/webdriverio/edit/master/docs/<%- file %>.md" target="_blank" class="btn icon-edit improve">Improve this doc</a>
        <% } %>

        <%- page.content %>
    </article>

</section>
