<%
var pageByCategory = {},
    pageByCategoryOrdered = {},
    isOlderAPI = path[0] === 'v',
    categoriesOrdered = ['getstarted', 'usage', 'testrunner', 'reporters', 'services']; //, 'plugins'];

site.pages.each(function(page) {

    if(!page.category || page.tags !== 'guide') return;

    if(!pageByCategory[page.category]) {
        pageByCategory[page.category] = [];
    }

    /**
     * check if paths are the same
     * seperate subversion commands with current page
     */
    if(path.slice(0, 4) === page.path.slice(0, 4)) {
        pageByCategory[page.category].push(page);
    }
});

var compare = function (a, b) {
    return categoriesOrdered.indexOf(a) > categoriesOrdered.indexOf(b);
}

Object.keys(pageByCategory).sort(compare).forEach(function(key) {
    pageByCategoryOrdered[key] = pageByCategory[key];
});

delete pageByCategoryOrdered.plugins
var currentPage = page.name;
%>

<section class="inner">
    <button class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <nav class="apinav guide">
    <%
    var i = 0;
    _.each(pageByCategoryOrdered, function(pages, category) {

        ++i;

        // order commands
        function orderCommandName(a, b) {
            return a.index < b.index ? -1 : 1;
        }
        pages.sort(orderCommandName);

        // sanitize categories
        var categories = {
            getstarted: 'Get Started',
            usage: 'Usage'
        };

        var pageNames = {
            v3: 'What is new?',
            'standalone-vs-wdio': 'Standalone vs. WDIO',
            bindingscommands: 'Bindings & Commands',
            customcommands: 'Custom Commands',
            pageobjects: 'Page Objects',
            transferpromises: 'Transfer Promises',
            configurationfile: 'Configuration File',
            gettingstarted: 'Getting Started',
            jenkins: 'Jenkins Integration'
        }

        var categoryName = categories[category] || category;

        %>
        <h3><a href="#" class="icon-folder-close-alt<% if (page.category === category || (i === 1 && currentPage === 'guide')) { %> active<% } %>" data-open="<%- category %>"><%- categoryName %></a></h3>
        <div class="commands <%- category %><% if (page.category === category || (i === 1 && currentPage === 'guide')) { %> active<% } %>">
        <% _.each(pages, function(page){ %><a href="/<%- page.path %>"<% if (currentPage === page.name) { %> class="active"<% } %>><%- pageNames[page.name] || page.name %></a><% }) %>
        </div>
    <% }) %>
        <h3><a href="https://github.com/webdriverio/webdriverio/tree/master/examples" class="icon-folder-close-alt" target="_blank">Examples</a></h3>
    </nav>

    <article class="doc guide">
        <% if(page.name && !isOlderAPI) {

            var file = page.name;

            if(page.category) {
                file = page.category + '/' + file;
            }

            if(file !== 'guide') {
                file = 'guide/' + file;
            }
            %>

            <a href="https://github.com/webdriverio/webdriverio/edit/master/docs/<%- file %>.md" target="_blank" class="btn icon-edit improve">Improve this doc</a>
        <% } %>

        <%- page.content %>
    </article>

</section>
