<%- partial('_partial/head', {}) %>
<%- partial('_partial/navi', {}) %>

<section class="content">
    <div class="container">
        <%- body %>
    </div>
</section>

<%- partial('_partial/footer', {}, {cache: true}) %>
<%- partial('_partial/scripts', {}, {cache: true}) %>
