<% fragment_cache('navi', function() { %>
<nav class="mainnav">
  <ul>
    <li><a href="/"><h1 class="logo">I/O</h1></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/guide.html">Developer Guide</a></li>
    <li><a href="/api.html">API</a></li>
    <li><a href="/contribute.html">Contribute</a></li>
    <li style="float: right; padding-top: 6px;">
      <a href="https://github.com/webdriverio/webdriverio/" target="_blank">
        <img src="/images/github-logo.png" alt="Link to GitHub">
      </a>
    </li>
    <li style="float:right;">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button">
          API Version
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <%
          _.each(config.wdio.builds, function(build) {
            %><li><a href="/<%- build.apiVersion %>/<%- path.replace(/v\d\.\d+\//, '').replace(/\.html/g, '').split('/')[0] %>.html"><%- build.apiVersion %></a></li><%
          })
          %>
          <li><a href="/<%- path.replace(/v\d\.\d\//, '').replace(/\.html/g, '').split('/')[0] %>.html">Latest</a></li>
        </ul>
      </div>
    </li>
    <li style="float:right"><%- partial('_partial/search', {}) %></li>
  </ul>
</nav>
<% }); %>
